/* cabin-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  src: url("@fonts/cabin-v26-latin-regular.woff2") format("woff2"),
    url("@fonts/cabin-v26-latin-regular.woff") format("woff");
}
/* cabin-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 500;
  src: url("@fonts/cabin-v26-latin-500.woff2") format("woff2"),
    url("@fonts/cabin-v26-latin-500.woff") format("woff");
}
/* cabin-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 600;
  src: url("@fonts/cabin-v26-latin-600.woff2") format("woff2"),
    url("@fonts/cabin-v26-latin-600.woff") format("woff");
}

:root {
  --font-stack-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-stack: "Cabin", var(--font-stack-fallback);

  /* display - large */
  --md-sys-typescale-display-large-font-family-name: var(--font-stack);
  --md-sys-typescale-display-large-font-weight: 600;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;

  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: var(--font-stack);
  --md-sys-typescale-display-medium-font-weight: 600;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: -0.25px;

  /* display - small */
  --md-sys-typescale-display-small-font-family-name: var(--font-stack);
  --md-sys-typescale-display-small-font-weight: 600;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: -0.6px;

  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: var(--font-stack);
  --md-sys-typescale-headline-large-font-weight: 600;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;

  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: var(--font-stack);
  --md-sys-typescale-headline-medium-font-weight: 600;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;

  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: var(--font-stack);
  --md-sys-typescale-headline-small-font-weight: 600;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;

  /* body - large */
  --md-sys-typescale-body-large-font-family-name: var(--font-stack);
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0;

  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: var(--font-stack);
  --md-sys-typescale-body-medium-font-weight: 400;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0;

  /* body - small */
  --md-sys-typescale-body-small-font-family-name: var(--font-stack);
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0;

  /* label - large */
  --md-sys-typescale-label-large-font-family-name: var(--font-stack);
  --md-sys-typescale-label-large-font-weight: 600;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.4px;

  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: var(--font-stack);
  --md-sys-typescale-label-medium-font-weight: 600;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.4px;

  /* label - small */
  --md-sys-typescale-label-small-font-family-name: var(--font-stack);
  --md-sys-typescale-label-small-font-weight: 700;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.4px;

  /* title - large */
  --md-sys-typescale-title-large-font-family-name: var(--font-stack);
  --md-sys-typescale-title-large-font-weight: 600;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;

  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: var(--font-stack);
  --md-sys-typescale-title-medium-font-weight: 600;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: var(--font-stack);
  --md-sys-typescale-title-small-font-weight: 600;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}

:root[data-theme="dark"] {

}
